html {
    background-color: #ECECEA;
    font-family: Arial;
    font-size: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ECECEA;
}

header {
    font-size: 22px;
    width: 100%;
    font-family: Lato;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: red;
}

nav {
    position: absolute;
    margin-top: 0px;
}

.navbar-brand img{
    width:75px;
    height: 45px;
    margin-top: -15px;
}

.container-fluid {
    position: relative;
}
.navbar .navbar-default .navbar-fixed-top {
    height: 45px;
}

.content {
    margin-top: 10px;
}

ul {
    padding: 0px;}


nav, ul {
    width: 100%;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
}

li a {
    text-decoration: none;
    padding: 1px;
    transition: background-color 0.7s; 
    text-align: center;
    list-style: none;
    }

li a:hover {
    background-color: white;
    width: 10px;
    top: 20px;}

h1 {
    color:red; 
    font-size:65px;
    text-align: center;
    font-family: Lobster;
    margin-top: 50px;
}

iframe {
    width: auto;
    height: 195px;
    border:0;
}


@media (max-width: 768px) {
    h1 {
        margin-top: 190px;
        font-size: 40px;
    }
    iframe {
        width: auto;
        height: 195px;
    }
}

@media (max-width: 992px) {
    iframe {
        width: auto;
        height: 195px;
    }
}

p {
    font-size:200%; 
    color: green;
}

.introduction-styles {
    font-size: 20px;
    padding-left: 10px;
    margin-left:5px;
    margin-right: 8px;
}

.links {
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 19px;
}


.dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
}

.dropdown-content {
    background-color: black;
    min-width: 222px;
    text-align: center;
    padding: 10px;
    color: white;
    position: absolute;
    left: -71px;
    z-index: 100;
}

.dropdown-content a {
    color: white;
    padding: 12px 6px;
    text-decoration: none;
}

.dropdown-content a:hover {
    text-decoration:underline;
}

.hover-content {
    display: none;
    z-index: 100px;
}

.onhover:hover .hover-content {
    display: block;
} 

.carousel {
    height: 195px;
    margin-bottom: 50px;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }



h2 {
    color:blue; 
    font-size: 27px; 
    margin-left: 5px;
} 

.topic {
    font-family: 'Slabo 27px', serif;
    text-align: center;
    margin-top: 20px;
}

.class-title {
    text-align:center;
    font-size: 112%;
}


.inline-wrapper div{
    display: inline-block;
    position: relative; 
    align-content: center;
    padding: 0px;
}

.inline-wrapper div img {
    width: 100%;
    height: 300px;
    transition: opacity 0.5s;
    opacity: 0.6;

}


.inline-wrapper div h2 {
    position: absolute;
    top: 35%;
    transition: opacity 0.5s;
    text-align: center;
    width: 100%;
    opacity: 0.5;
    font-size: 28px;
    padding: 0px;
    margin: 0px;
    font-family: kaiti;
}

.inline-wrapper div:hover h2{
    transition: 1s;
    opacity: 1;
    font-size: 38px;
} 

.inline-wrapper div:hover img{
    transition: 1s; 
    opacity: 0.3;
} 

.styles {
    font-family: 'Slabo 27px', serif;
    text-align: center;
    margin-bottom: 1px;
    font-size: 25px;
    }

.explanation {
    width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 3px;
    list-style-type: none;
    font-size: 18px;
}


.pic-class {
    margin-bottom: 10px;
    height:225px;
    margin-left: auto;
    margin-right: auto;
}

.go-back {
    margin-top: 65px;
    margin-left: 20px;
    font-size: 18px;
}

.class-menu {
    margin-top: 50px;
    margin-left: 10px;
    width: 200px;
    background-color: #E8D8D3;
}

.class-menu-list {
   width: 200px;
   text-align: left; 
   font-size: 18px;
}

.poster {
    height: 514px;
    width: 90%;
    margin-top: 10px;
}

.youth-tai-chi-club {
    column-count: 2;
    -webkit-column-count: 2;
    font-size: 19px;
}

.equipments {
    column-count: 4;
    -webkit-column-count: 4;
    text-align: center;

}

.accessories {
    width: 100%;
    height: 200px;
}

.awards {
    margin-left:10px;
    padding-left: 10px;
}

.footer {
    background-color: rgba(13, 9, 6, 0.9); 
    text-align: left;
    color: rgba(246, 242, 233, 0.95);
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 120%;
}